.section{
    justify-content: flex-start;

    text-align: left;

    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;        
}

.section .section-title{
    background-color:#1169A9;
    padding: 1rem;

    border-radius: 5px;

    font-size: 2.5rem;

    color: white;
}

.section .section-description{
    font-size: 2rem;
}