.nav-button{
    padding: 1.5rem;
    width: 20rem;
    height: 5.3rem;

    font-size: 1.8rem;
    font-weight: bold;
    /* text-align: center; */

    display: flex;
    justify-content: center;

    color: white;

    background-color: #1169A9;
    border-radius: 15px;
    border-color: transparent;
}
.nav-button:hover{
    background-color: #0F5A8B;
    cursor: pointer;
}

.navbar-icon{
    height: 3rem;
    position: relative;
}