.center-container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 10.9rem;
    border-radius: 1rem 1rem 0 0;
    background-color: white;
    background-color: #E3E3E3;


    width: 80%;
}

.center-container p{
    font-size: 2.5rem;
    color: black;
}

.image{
    border-radius: 3px;;
}