.inform-container{
    width: 100vw;
    height: 100vh;
}
.inform-form{
    width:70%;
    background-color: #E3E3E3;
    margin:0 auto 0 auto;
    margin-top:8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 90vh;
}
.inform-form label{
    text-align: center  ;
    font-size: 1.5rem;
}

.inform-form label input{
    margin-top: 2rem;
    height: 4rem;
    border-radius: 10px;
    border: 1px solid grey;
}
.blank-user{
    border-radius: 300px;
    margin-bottom: 5rem;
}
