.header {
    display: flex;
    width: 100%;
}

.header .header__photo{
    margin-left: 5rem;
    margin-top: 5rem;
}

.header  .header__photo img{
    border-radius: 300px;
}

.header .header__title .title{
    background-color: #1169A9;

    border-radius: 10px;
    margin-top: 5rem;
    margin-left: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 6rem;
    padding: 2rem;
    font-size: 3rem;
    color: white;
    text-align: center;
    width: 100rem;
}

.header .header__title hr{
    margin-top: 3rem;
    width: 103rem;
    margin-left: 5rem;

    height: .14rem;
    background-color: black;
}

.header  .header__title h3 {
    margin-left: 5rem;
    margin-right: 7rem;
    margin-top: 3rem;

    font-size: 1.5rem;
    color: black;
    font-weight: 500;

    text-justify: distribute;
}
