.edit-form form{
    background-color: #E3E3E3;
    width: 70%;
    margin: 0   auto 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;

}

.edit-form form label{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.edit-form form label input{
    width: 40rem;
    border-radius: 10px;
    height: 3rem;
    border: 1px solid grey;
}
.edit-form form label textarea{
    display: block;
    width: 40rem;
    max-height: 40rem;
    min-height: 3rem;
    max-width: 40rem;
    border: 1px solid grey;

    border-radius: 10px;
    height: 3rem;
}

.submit-btn{
    background-color: #1169A9;
    margin-top: 4rem;
    margin-bottom: 5rem;

    height: 5rem;
    width: 20rem;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
